<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">
<title>Editar Docente</title>
  <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<script type="text/javascript">
function validar(e) { 
tecla = (document.all) ? e.keyCode : e.which;
if (tecla==8) return true; 
patron =/[A-Za-z\s]/; 
te = String.fromCharCode(tecla); 
return patron.test(te);
}
</script>
<script type="text/javascript">
function justNumbers(e)
{
var keynum = window.event ? window.event.keyCode : e.which;
if ((keynum == 8) || (keynum == 46))
return true;
 
return /\d/.test(String.fromCharCode(keynum));
}
</script>
</head>
<body>
<div class="container">
<!--/*/ <th:block th:include="fragments/header2 :: header"></th:block> /*/-->
<div class="col-md-3"></div>
<div class="col-md-6">
<h1 align="center">Editar Docente</h1>
<div class="panel panel-info">
 <div class="panel-body">
<form th:object="${docente}" th:action="@{/docente/new}" method="post">

<input type="hidden" th:field="*{cdocente}" />
    <div class="form-group">
	<label for="nombre" >Nombres: </label>
	<input type="text" class="form-control" id="nombre" th:field="*{nombredocente}" onkeypress="return validar(event)" /> 
	<span style="color:red" th:if="${#fields.hasErrors('nombredocente')}" th:errors="*{nombredocente}">Nombre no valido</span>
	</div>
	<div class="form-group">
	<label for="apellido" >Apellidos: </label>
	<input type="text" class="form-control"  id="apellido" th:field="*{apellidodocente}" onkeypress="return validar(event)" /> 
	<span style="color:red" th:if="${#fields.hasErrors('apellidodocente')}" th:errors="*{apellidodocente}">Nombre no valido</span>
    </div>
    <div class="form-group">
    <label for="dni" >DNI: </label>
    <input type="text"  class="form-control" id="dni" th:field="*{dni}" maxlength="8" onkeypress="return justNumbers(event);"/>
    <span style="color:red" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}">DNI no valido</span><br/><br/>
    </div>
    <div class="form-group">
    <label for="fnacimiento" >Fecha de Nacimiento: </label>
    <input type="date" class="form-control" id="fnacimiento" th:field="*{fnacimiento}" />
    <span style="color:red" th:if="${#fields.hasErrors('fnacimiento')}" th:errors="*{fnacimiento}">Fecha no valida</span>
    </div>
    <div class="form-group">
     <label for="descripcion" >Descripcion: </label>
     <textarea class="form-control" id="descripcion" th:field="*{descripcion}" rows="4" cols="50"></textarea>
     <span style="color:red" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">Fecha no valida</span>
    </div>
    <div align="center">
      <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span> Guardar</button>
    </div>
</form>
</div>
</div>
</div>
<div class="col-md-3"></div>
</div>

</body>
</html>