<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">
<title>Registro de Alumno</title>
   <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<script type="text/javascript">
function validar(e) { 
tecla = (document.all) ? e.keyCode : e.which;
if (tecla==8) return true; 
patron =/[A-Za-z\s]/; 
te = String.fromCharCode(tecla); 
return patron.test(te);
}
</script>
<script type="text/javascript">
function justNumbers(e)
{
var keynum = window.event ? window.event.keyCode : e.which;
if ((keynum == 8) || (keynum == 46))
return true;
 
return /\d/.test(String.fromCharCode(keynum));
}
</script>   
</head>
<body background="images/fondo.png">
<div class="container">
<div th:switch="${session.usuariologeado.cadmin}">
<div th:case="null">ERROR</div>
<div th:case="*">
<!--/*/ <th:block th:include="fragments/header2 :: header"></th:block> /*/-->
<div class="col-md-3"></div>
<div class="col-md-6">
<h1 align="center">Registro de Alumno</h1><br/>
<h3 align="center" style="color:red" th:text="${messageerror}"></h3>
<h3 align="center" style="color:green" th:text="${messageexito}"></h3>
<h3 align="center" style="color:green" th:text="${messageregistro}"></h3>
<h3 align="center" style="color:green" th:text="${messageeditado}"></h3>
<div class="panel panel-info">
 <div class="panel-body">
<p style="color:red" align="center" th:text="${message}"></p>
<form th:object="${alumno}" th:action="@{/alumno/new}" method="post">
 <div class="form-group">
  <label for="nombre" >Nombre: </label>
  <input type="text" class="form-control"  th:field="*{nombrealumno}" onkeypress="return validar(event)" />
  <span style="color:red" th:if="${#fields.hasErrors('nombrealumno')}" th:errors="*{nombrealumno}">Nombre no valido</span>
 </div>
<div class="form-group">
 <label for="apellido" >Apellido: </label>
 <input type="text" class="form-control" id="apellido" th:field="*{apellidoalumno}" onkeypress="return validar(event)"/>
 <span style="color:red" th:if="${#fields.hasErrors('apellidoalumno')}" th:errors="*{apellidoalumno}">Apellido no valido</span>
</div>
<div class="form-group">
 <label for="periodoingreso" >Periodo de Ingreso:</label>
<select class="form-control" id="periodoingreso" th:field="*{periodoingreso}">
 <option value="2017-1">2017-1</option>
 <option value="2016-2">2016-2</option>
 <option value="2016-1">2016-1</option>
 <option value="2015-2">2015-2</option>
 <option value="2015-1">2015-1</option>
 <option value="2014-2">2014-2</option>
 <option value="2014-1">2014-1</option>
 <option value="2013-2">2013-2</option>
 <option value="2013-1">2013-1</option>
</select>
</div>
<div class="form-group">
 <label for="dni" >DNI: </label>
 <input id="dni" class="form-control"  type="text" th:field="*{dni}" maxlength="8" onkeypress="return justNumbers(event);"/>
 <span style="color:red" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}">DNI no valido</span>
 <p style="color:red" th:text="${messagedni}"></p>
</div>
<div class="form-group">
<label for="colegio" >Colegio de procedencia:</label>
<input id="colegio" class="form-control" type="text" th:field="*{colegio}"/>
<span style="color:red" th:if="${#fields.hasErrors('colegio')}" th:errors="*{colegio}">Colegio no valido</span>
</div>
<div class="form-group">
 <label for="carrera" >Carrera:</label>
<select class="form-control" id="carrera" th:field="*{carrera}">
 <option value="Ingenieria de Sistemas">Ingenieria de Sistemas</option>
 <option value="Ingenieria Industrial">Ingenieria Industrial</option>
 <option value="Ingenieria de Software">Ingenieria de Software</option>
 <option value="Marketing">Marketing</option>
 <option value="Negocios">Negocios</option>
 <option value="Diseñador Grafico">Diseñador Grafico</option>
</select>
</div>
<div class="form-group">
    <label for="fnacimiento" >Fecha de Nacimiento: </label>
    <input type="date" class="form-control" id="fnacimiento" max="2001-12-31" min="1990-01-01" th:field="*{fnacimientoalumno}" />
 <span class="add-on"><i class="icon-th"></i></span>
 <span style="color:red" th:if="${#fields.hasErrors('fnacimientoalumno')}" th:errors="*{fnacimientoalumno}">Fecha no valida</span>
</div>
<div class="form-group">
  <label>Sexo:</label>
  <label class="radio-inline"><input type="radio" th:field="*{genero}"  name="sexo" value="Masculino" checked="checked"/> Masculino</label>
  <label class="radio-inline"><input type="radio" th:field="*{genero}"  name="sexo" value="Femenino"/> Femenino</label>
<span style="color:red" th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}">Fecha no valida</span><br/><br/>
</div>
 <div align="center">
<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Guardar</button>
</div>
</form>
</div>
</div>
</div>
<div class="col-md-3"></div>
<br/>

<table class="table">
  <thead class="thead-default">
   	<tr class="active">
        <th data-field="calumno">Codigo</th>
   		<th data-field="nombrealumno">Nombre</th>
   		<th data-field="apellidoalumno">Apellido</th>
   		<th data-field="periodoingreso">Periodo de ingreso</th>
   		<th data-field="dni">DNI</th>
   		<th data-field="colegio">Colegio</th>
   		<th data-field="carrera">Carrera</th>
   		<th data-field="fnacimientoalumno">Fecha de Nacimiento</th>
   		<th data-field="genero">Genero</th>
   	</tr>
  
  </thead>
  <tbody>
  	<tr class="info" th:each="a:${alumnos}">
    <td th:text="${a.calumno}"></td>
    <td th:text="${a.nombrealumno}"></td>
    <td th:text="${a.apellidoalumno}"></td>
    <td th:text="${a.periodoingreso}"></td>
    <td th:text="${a.dni}"></td>
    <td th:text="${a.colegio}"></td>
    <td th:text="${a.carrera}"></td>
    <td th:text="${a.fnacimientoalumno}"></td>
    <td th:text="${a.genero}"></td>
    <td><a th:href="${'/editarAlumno' + a.calumno}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-pencil"></span> Update</a></td>
    <td><a href="#" class="btn btn-danger linkDelete" th:id="${a.calumno}"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
    
    </tr>
  
  
  </tbody>
  
  </table>
  <h3 style="color:red" th:text="${messagevacio}" align="center"></h3>
  
  </div>
  </div>
 </div>
 <!-- Modal -->
	<div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Eliminar Alumno</h4>
				</div>
				<div class="modal-body">
					<p>¿Desea eliminar el alumno seleccionado?</p>
					<p style="color:red">Nota: si el alumno esta matriculado no se podra eliminar del sistema</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
					<button id="btnDelete" class="btn btn-danger">
						<i class="glyphicon glyphicon-remove-sign"></i> Eliminar
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- /.modal -->
	<script type="text/javascript">
		$(function() {

			var idAlumno = null;

			$('.linkDelete').on('click', function(e) {
				e.preventDefault();
				$('#modalDelete').modal();
				idAlumno = $(this).attr('id');
			});

			$('#btnDelete').on('click', function() {
				location.href = "/deletealumno" + idAlumno;
			});

		});
	</script>
</body>
</html>