<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">
<title>Registro de Curso</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
<div th:switch="${session.usuariologeado.cadmin}">
<div th:case="null">ERROR</div>
<div th:case="*">
<!--/*/ <th:block th:include="fragments/header2 :: header"></th:block> /*/-->
<div class="col-md-3"></div>
<div class="col-md-6">
<h1 align="center">Registro de Curso</h1><br/>
<div class="panel panel-info">
 <div class="panel-body">
<p style="color:red" align="center" th:text="${message}"></p>
<form th:object="${curso}" th:action="@{/curso/new}" method="post">
 <div class="form-group">
  <label for="nombrecurso" >Nombre del Curso:</label>
  <input type="text" id="nombrecurso" class="form-control" th:field="*{nombrecurso}" />
  <span style="color:red" th:if="${#fields.hasErrors('nombrecurso')}" th:errors="*{nombrecurso}">Nombre no valido</span>
 </div>
 <div class="form-group">
  <label>Modalidad:</label><br/>
  <input type="radio" th:field="*{modalidad}" name="mod" value="Pregrado"/> Pregrado 
  <input type="radio" th:field="*{modalidad}" name="mod" value="Postgrado"/> Postgrado 
  <input type="radio" th:field="*{modalidad}" name="mod" value="EPE"/> EPE 
  <span style="color:red" th:if="${#fields.hasErrors('modalidad')}" th:errors="*{modalidad}">Nombre no valido</span> 
 </div>
 <div class="form-group">
  <label for="facultad" >Facultad: </label>
<select class="form-control" id="facultad" th:field="*{facultad}">
 <option value="Negocios">Negocios</option>
 <option value="Ingenieria">Ingenieria</option>
 <option value="Ciencias de la salud">Ciencias de la salud</option>
 <option value="Comunicaciones">Comunicaciones</option>
 <option value="Educacion">Educacion</option>
 <option value="Diseño">Diseño</option>
</select>
<span style="color:red" th:if="${#fields.hasErrors('facultad')}" th:errors="*{facultad}">Nombre no valido</span> 
</div>
<div class="form-group">
 <label>Sede:</label> <br/>
  <input type="checkbox"  th:field="*{sede}" name="sede" value="VI "/> Sede Villa<br/>
  <input type="checkbox" th:field="*{sede}" name="sede" value="SI "/> Sede San Isidro<br/>
  <input type="checkbox" th:field="*{sede}" name="sede" value="MO "/> Sede Monterrico<br/>
  <input type="checkbox" th:field="*{sede}" name="sede" value="SM "/> Sede San Miguel<br/>
<span style="color:red" th:if="${#fields.hasErrors('sede')}" th:errors="*{sede}">Nombre no valido</span>  
</div>
<div class="form-group">
 <label for="descripcion" >Descripcion:</label>
 <textarea class="form-control" id="descripcion" th:field="*{descripcion}" rows="4" cols="50">
 </textarea>
 <span style="color:red" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">Nombre no valido</span>
</div>
<div align="center">
<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Guardar</button>
</div>

</form>
</div>
</div>
</div>
<div class="col-md-3"></div>
<table class="table">
  <thead class="thead-default">
   	<tr class="active">
        <th data-field="ccurso">Codigo</th>
   		<th data-field="nombrecurso">Nombre</th>
   		<th data-field="modalidad">Modalidad</th>
   		<th data-field="facultad">Facultad</th>
   		<th data-field="sede">Sede</th>
   		<th data-field="descripcion">Descripcion</th>
   	 	</tr>
  
  </thead>
  <tbody>
  	<tr class="info" th:each="c:${cursos}">
    <td th:text="${c.ccurso}"></td>
    <td th:text="${c.nombrecurso}"></td>
    <td th:text="${c.modalidad}"></td>
    <td th:text="${c.facultad}"></td>
    <td th:text="${c.sede}"></td>
    <td th:text="${c.descripcion}"></td>
    <td><a th:href="${'/editarCurso' + c.ccurso}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-pencil"></span> Update</a></td>
    <td><a th:href="${'/deletecurso'+c.ccurso}" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
  
    </tr>
  </tbody>
  
  </table>  
  </div>
  </div>
  </div>
</body>
</html>