<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">
<title>Registro de Horarios</title>
 <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body background="images/fondo.png">
<div class="container">
<div th:switch="${session.usuariologeado.cadmin}">
<div th:case="null">ERROR</div>
<div th:case="*">
<!--/*/ <th:block th:include="fragments/header2 :: header"></th:block> /*/-->

<div class="col-md-2"></div>
<div class="col-md-8">
<h1 align="center">Registro de Horario</h1><br/>
<h3 align="center" style="color:red" th:text="${messageerror}"></h3>
<h3 align="center" style="color:green" th:text="${messageexito}"></h3>
<h3 align="center" style="color:green" th:text="${messageregistro}"></h3>
<div class="panel panel-info">
 <div class="panel-body">
 <form th:object="${horario}" th:action="@{/horario/new}" method="post">
  <label>Seccion: </label>
  <table class="table table-bordered">
      <thead class="thead-inverse">
      <tr class="success">
          <th data-field="nombreseccion">Codigo</th>
          <th data-field="ciclo">Ciclo</th>
          <th data-field="curso">Curso</th>
          <th data-field="docente">Docente</th>
          <th data-field="nummatriculados">Cant. Matriculados</th>
      </tr>
      </thead>
      <tbody>
       <tr  class="success" th:each="s:${secciones}">
          <td th:text="${s.nombreseccion}"></td>
          <td th:text="${s.ciclo}"></td>
          <td th:text="${s.curso.nombrecurso}"></td>
          <td th:text="${s.docente.nombredocente +' '+s.docente.apellidodocente}"></td>
          <td th:text="${s.nummatriculados}"></td>
          <td><input type="radio" th:field="*{seccion.cseccion}"  name="seccion" th:value="${s.cseccion}"></input></td>
       </tr>
      </tbody>
    </table>
  <br/><br/>
  <label>Salon: </label>
  <table class="table table-bordered">
      <thead class="thead-inverse">
      <tr class="success">
          <th>Numero</th>
          <th>Descripcion</th>
      </tr>
      </thead>
      <tbody>
       <tr class="success" th:each="s:${salones}">
          <td th:text="${s.nombre}"></td>
          <td th:text="${s.descripcion}"></td>
          <td><input type="radio" th:field="*{salon.csalon}"  name="seccion" th:value="${s.csalon}"></input></td>
       </tr>
      </tbody>
    </table>
  <br/><br/>
  <div class="form-group">
  <label>Dia:</label>
  <select class="form-control" th:field="*{dia}">
     <option value="Lunes">Lunes</option>
     <option value="Martes">Martes</option>
     <option value="Miercoles">Miercoles</option>
     <option value="Jueves">Jueves</option>
     <option value="Viernes">Viernes</option>
     <option value="Sabado">Sabado</option>
    </select>
    </div>
    <span style="color:red" th:if="${#fields.hasErrors('dia')}" th:errors="*{dia}">Nombre no valido</span><br/><br/>
   <div class="form-group">
   <label>Hora de Inicio:</label>
   <input type="number" class="form-control" th:field="*{horainicio}" min="7" max="22" value="7" onkeydown="return false"></input>
    <span style="color:red" th:if="${#fields.hasErrors('horainicio')}" th:errors="*{horainicio}">Nombre no valido</span><br/><br/>
    </div>
    <div class="form-group">
    <label>Hora de Termino: </label>
   <input type="number" class="form-control" th:field="*{horafin}" min="8" max="23" value="8"  onkeydown="return false"></input>
    <span style="color:red" th:if="${#fields.hasErrors('horafin')}" th:errors="*{horafin}">Nombre no valido</span><br/><br/>
    </div>
    <p style="color:red" th:text="${messagehorasnovalidas}"></p>
    <div align="center">
      <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Guardar</button>
    </div>
 </form>
 </div>
 </div>
 </div>
 <div class="col-md-2"></div>
 <table class="table">
   <thead class="thead-default">
   <tr class="active">
      <th>Codigo</th>
      <th>Seccion</th>
      <th>Curso</th>
      <th>Salon</th>
      <th>Día</th>
      <th>Hora de Inicio</th>
      <th>Hora de Termino</th>
   </tr>
   </thead>
   <tbody>
     <tr class="info" th:each="h:${horarios}">
       <td th:text="${h.chorario}"></td>
       <td th:text="${h.seccion.nombreseccion}"></td>
       <td th:text="${h.seccion.curso.nombrecurso}"></td>
       <td th:text="${h.salon.descripcion}"></td>
       <td th:text="${h.dia}"></td>
       <td th:text="${h.horainicio}"></td>
       <td th:text="${h.horafin}"></td>
       <td><a th:href="${'/editarHorario'+ h.chorario}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-pencil"></span> Update</a></td>
       <td><a href="#" class="btn btn-danger linkDelete" th:id="${h.chorario}"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
     </tr>
   </tbody>
 </table>
 </div>
 </div>
 </div>
 <!-- Modal -->
	<div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Eliminar Horario</h4>
				</div>
				<div class="modal-body">
					<p>¿Desea eliminar el horario seleccionado?</p>
					<p style="color:red">Nota: si el horario esta siendo usado por otro registro no se podra eliminar del sistema</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
					<button id="btnDelete" class="btn btn-danger">
						<i class="glyphicon glyphicon-remove-sign"></i> Eliminar
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- /.modal -->
	<script type="text/javascript">
		$(function() {

			var idAlumno = null;

			$('.linkDelete').on('click', function(e) {
				e.preventDefault();
				$('#modalDelete').modal();
				idAlumno = $(this).attr('id');
			});

			$('#btnDelete').on('click', function() {
				location.href = "/deleteHorario" + idAlumno;
			});

		});
	</script>
</body>
</html>