<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">
<title>Registro de Salon</title>
  <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body background="images/fondo.png">
<div class="container">
<div th:switch="${session.usuariologeado.cadmin}">
<div th:case="null">ERROR</div>
<div th:case="*">
<!--/*/ <th:block th:include="fragments/header2 :: header"></th:block> /*/-->
<div class="col-md-3"></div>
<div class="col-md-6">
<h1 align="center">Registro de Salon</h1><br/>
<h3 align="center" style="color:red" th:text="${messageerror}"></h3>
<h3 align="center" style="color:green" th:text="${messageexito}"></h3>
<h3 align="center" style="color:green" th:text="${messageregistro}"></h3>
<h3 align="center" style="color:green" th:text="${messageeditado}"></h3>
<div class="panel panel-info">
 <div class="panel-body">
<p style="color:red" align="center" th:text="${message}"></p>
	<form  th:object="${salon}" th:action="@{/salon/new}" method="post">
	<div class="form-group">
	<label for="nombre" >Numero: </label>
	<input type="number" class="form-control" id="nombre" th:field="*{nombre}" min="100" max="999"></input> 
	<span style="color:red" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Nombre no valido</span><br/><br/>
    <p style="color:red" th:text="${messagesalon}"></p>
    </div>
    <div class="form-group">
    <label for="descripcion" >Descripcion:</label>
    <textarea class="form-control" id="descripcion" th:field="*{descripcion}" rows="4" cols="50"></textarea>
    <span style="color:red" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">Nombre no valido</span><br/><br/>
    </div>
    <div align="center">
      <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Guardar</button>
    </div>
	</form>
	</div>
	</div>
</div>
<div class="col-md-3"></div>
<div class="col-md-12">
	<table class="table">
  <thead class="thead-default">
   	<tr class="active">
        <th data-field="csalon">Numero de salón</th>
   		<th data-field="descripcion">Descripcion del Salon</th>
   	</tr>
  
  </thead>
  <tbody>
  	<tr class="info" th:each="s:${salones}">
    <td th:text="${s.nombre}"></td>
    <td th:text="${s.descripcion}"></td>
    <td><a th:href="${'/editarSalon' + s.csalon}"  class="btn btn-primary" role="button"><span class="glyphicon glyphicon-pencil"></span> Update</a></td>
    <td><a href="#" class="btn btn-danger linkDelete" th:id="${s.csalon}"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
    
    </tr>
  
  
  </tbody>
  
  </table>
  <h3 style="color:red" th:text="${messagevacio}" align="center"></h3>
  </div>
  </div>
  </div>
  </div>
  <!-- Modal -->
	<div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Eliminar Salon</h4>
				</div>
				<div class="modal-body">
					<p>Desea eliminar el salon seleccionado?</p>
					<p style="color:red">Nota: si el salon esta asignado a un horario no se podra eliminar del sistema</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
					<button id="btnDelete" class="btn btn-danger">
						<i class="glyphicon glyphicon-remove-sign"></i> Eliminar
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- /.modal -->
	<script type="text/javascript">
		$(function() {

			var idAlumno = null;

			$('.linkDelete').on('click', function(e) {
				e.preventDefault();
				$('#modalDelete').modal();
				idAlumno = $(this).attr('id');
			});

			$('#btnDelete').on('click', function() {
				location.href = "/deletesalon" + idAlumno;
			});

		});
	</script>
</body>
</html>